apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: $NAME
  namespace: policy
spec:
  remediationAction: enforce
  disabled: false
  policy-templates:
    - objectDefinition:
        apiVersion: policy.open-cluster-management.io/v1
        kind: ConfigurationPolicy
        metadata:
          name: $NAME
        spec:
          remediationAction: enforce
          severity: med
          namespaceSelector:
            exclude:
              - kube-*
            include:
              - default
          object-templates:
            - complianceType: musthave
              objectDefinition:
                # Put object here
---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: $NAME
  namespace: policy
spec:
  clusterConditions:
    - status: 'True'
      type: ManagedClusterConditionAvailable
---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: $NAME
  namespace: policy
placementRef:
  name: $NAME
  kind: PlacementRule
  apiGroup: apps.open-cluster-management.io
subjects:
  - name: $NAME
    kind: Policy
    apiGroup: policy.open-cluster-management.io
